{% load static %}

{% block base_head %}
    <link rel='stylesheet' href='{% static "css/drop.css" %}'>
{% endblock base_head%}

{% url 'pages:home' as home %}
{% url 'events:list' as events %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
  <div class="container align-content-lg-center">
    <a class="navbar-brand" href="#"><h1>Green</h1></a>
    <div class="d-flex justify-content-lg-end justify-content-end justify-content-sm-end col-lg-3 col-sm-8 col-6">
        {% if request.user.is_authenticated %}
          <div class="dropdown">
            <button onclick="myFunction()" class="dropbtn"><img src="">{{request.user.username}}</button>
            <div id="myDropdown" class="dropdown-content">
              <a href="#">Link 1</a>
              <a href="#">Link 2</a>
              <a href="{% url 'logout' %}">logout</a>
            </div>
          </div> 
        {% else %}
          <a class="btn btn-success" href="{% url 'login' %}">Login</a>
        {% endif %}
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse col-lg-3" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ home }}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ events }}">Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li>
      </ul>
        <form class="form my-2 my-lg-0">
          <div class="input-group">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </div>
        </form>
    </div>
  </div>
</nav>

<script src="{% static 'js/drop.js' %}"></script>