{% extends 'base.html' %}
{% load static %}
{% block title %} green events {% endblock %}

{% block content %}
<div class="row">
<div class="col-lg-3">
    <ul>
        <li>
            <p>teste</p>
        </li>
        <li>
            <p>burro</p>
        </li>
        <li>
            <p>lula livre</p>
        </li>
    </ul>
</div>
<div class="col-lg-9">
    {% for obj in event_list %}>
        <div class="row">
            <div class="card" style="height: 200px; width: 100%;">
                <div class="card-body">
                    <h5 class="card-title">{{ obj.title }}</h5>
                    <p class="card-text">{{ obj.description|truncatewords:14 }}</p>
                    <a href="{{ instance.get_absolute_url }}" class="btn btn-primary">Detalhe</a>
                </div>
            </div>
        </div>
    {% endfor%}
</div>
</div>
{% endblock%}